<html lang="en">

<!--Replace Head-->
<head th:replace="fragments/Head :: head">

    <title>DoubleKPerfume</title>

</head>

<body>

    <header th:replace="fragments/header :: header"></header>

        <div id="myCarousel"></div>
        <main class="container">
            <div id="products">
            </div>
        </main>

        <footer id="footer" th:replace="fragments/Footer :: footer"
        ></footer>

    <script th:src="@{assetsUser/js/index.js}" type="module">
    </script>
    

</body>
</html>