<html lang="en">

<!--Replace Head-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoubleKPerfume</title>
    <link
      href="/utilities/bootstrap-5.0.2-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      th:href="@{/assetsUser/lib/fontawesome-free-6.3.0-web/css/all.css}"
    />
    <link rel="stylesheet" th:href="@{/assetsUser/css/header.css}" />
    <link rel="stylesheet" th:href="@{/assetsUser/css/main.css}" />
    <link rel="stylesheet" th:href="@{/assetsUser/css/footer.css}" />
    <style>
      html,
      body {
        max-width: 100%;
        overflow-x: hidden;
      }
    </style>
  </head>

<body>

    <header th:replace="fragments/header :: header"></header>

        <div id="myCarousel"></div>
        <main class="container">
            <div id="products">
            </div>
        </main>

        <footer id="footer" th:replace="fragments/Footer :: footer"
        ></footer>

    <script th:src="@{assetsUser/js/index.js}" type="module">
    </script>
    

</body>
</html>