<html lang="en">

<!--Replace Head-->
<head th:replace="/user/fragments/Head :: head">

    <title>DoubleKPerfume</title>

</head>

<body>

<header th:replace="/user/fragments/header :: header"></header>

<div id="myCarousel"></div>
<main class="container">
    <div id="products">
        <div class="row">
            <div class="col-md-3">
                <img src="https://media.hcdn.vn/catalog/product/p/r/promotions-auto-nuoc-hoa-nu-narciso-rodriguez-ambree-edp-30ml_qEFaJWc5p6CrZRGr_img_358x358_843626_fit_center.png" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">1.500.000 đ</p>
<!--                    Nhà chế tác-->
                    <p>
                        <a href="#">Narciso Rodriguez</a>
                    </p>
                   <h5 class="card-title">Nước hoa nữ Narciso Rodriguez Ambree EDP 30ml</h5>
                    <div class="item-btn">
                        <button class="btn btn-heart"><i class="fa-regular fa-heart"></i></button>
                        <button class="btn btn-add-to-cart btn-primary"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <img src="https://media.hcdn.vn/catalog/product/f/a/facebook-dynamic-422201176-1704963488_img_358x358_843626_fit_center.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">1.500.000 đ</p>
                    <!--                    Nhà chế tác-->
                    <p>
                        <a href="#">Narciso Rodriguez</a>
                    </p>
                    <h5 class="card-title">Nước hoa nữ Narciso Rodriguez Ambree EDP 30ml</h5>
                    <div class="item-btn">
                        <button class="btn btn-heart"><i class="fa-regular fa-heart"></i></button>
                        <button class="btn btn-add-to-cart btn-primary"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <img src="https://media.hcdn.vn/catalog/product/f/a/facebook-dynamic-328700016-1704964074_img_358x358_843626_fit_center.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">1.500.000 đ</p>
                    <!--                    Nhà chế tác-->
                    <p>
                        <a href="#">Narciso Rodriguez</a>
                    </p>
                    <h5 class="card-title">Nước hoa nữ Narciso Rodriguez Ambree EDP 30ml</h5>
                    <div class="item-btn">
                        <button class="btn btn-heart"><i class="fa-regular fa-heart"></i></button>
                        <button class="btn btn-add-to-cart btn-primary"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <img src="https://media.hcdn.vn/catalog/product/n/u/nuoc-hoa-nam-versace-pour-homme-dylan-blue-edt-100ml-1_1_img_300x300_b798dd_fit_center.jpg" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <p class="card-text">1.500.000 đ</p>
                    <!--                    Nhà chế tác-->
                    <p>
                        <a href="#">Narciso Rodriguez</a>
                    </p>
                    <h5 class="card-title">Nước hoa nữ Narciso Rodriguez Ambree EDP 30ml</h5>
                    <div class="item-btn">
                        <button class="btn btn-heart"><i class="fa-regular fa-heart"></i></button>
                        <button class="btn btn-add-to-cart btn-primary"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-stage">
            <h3 class="owl-title">Thông tin</h3>
            <div class="owl-items">
                <div class="owl-item" style="margin-left: 10px;">
                    <img th:src="@{assetsUser/img/nuoc-hoa-dung-duoc-cho-ca-nam-va-nu.png}" alt="">
                    <h4>5 mùi nước hoa dùng được cho cả nam và nữ mà bạn không nên bỏ qua</h4>
                    <p>Bạn có biết? Mùi nước hoa chính là điểm cuốn hút và ghi đậm dấu ấn với mọi người...</p>
                </div>
                <div class="owl-item">
                    <img th:src="@{assetsUser/img/nuoc-hoa-thom-lau-cho-nam.png}" alt="">
                    <h4>5 chai nước hoa thơm lâu mà nam giới không nên bỏ qua</h4>
                    <p>Đâu là mùi nước hoa thơm lâu cho nam giới? Đây là câu hỏi mà hầu hết nam giới đều quan
                        tâm...</p>
                </div>
                <div class="owl-item">
                    <img th:src="@{assetsUser/img/nuoc-hoa-huong-thom-da-thit-parfumerievn.jpg}" alt="">
                    <h4>Hương thơm da thịt, xu hướng mùi hương đang được yêu thích</h4>
                    <p>Sở dĩ có tên mùi hương da thịt vì hương thơm của những chai nước hoa này có mùi vô cùng
                        nhẹ nhàng...</p>
                </div>
                <div class="owl-item">
                    <img th:src="@{assetsUser/img/nuoc-hoa-nam-dior-sauvage-edt-parfumerievn.jpg}" alt="">
                    <h4>Để nắm bắt nữa kia, nàng thường chọn Dior sauvage EDT</h4>
                    <p>Thấu hiểu và nắm bắt tâm lý phái mạnh, các nàng thường chọn Dior sauvage EDT như một món
                        quà...</p>
                </div>
            </div>
        </div>
</main>

<footer id="footer" th:replace="/user/fragments/Footer :: footer"
></footer>

<script th:src="@{assetsUser/js/index.js}" type="module">
</script>


</body>
</html>