<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/admin/fragments/Head :: head">
    <title>Thêm sản phẩm</title>
  </head>
  <body>
    <header th:replace="/admin/fragments/header :: header"></header>

    <div class="container">
      <h2>Thêm sản phẩm</h2>
      <form
        th:action="@{/admin/product/add}"
        th:object="${product}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="barcode">Barcode</label>
          <input
            type="text"
            class="form-control"
            id="barcode"
            name="barcode"
            placeholder="Nhập mã barcode sản phẩm"
            th:field="*{barcode}"
          />
        </div>
        <div class="form-group">
          <label for="name">Tên sản phẩm</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Nhập tên sản phẩm"
            th:field="*{name}"
          />
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            th:field="*{description}"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="price">Giá</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            placeholder="Giá sản phẩm"
            th:field="*{price}"
          />
          <div id="priceSuggest" class="d-flex justify-content-start"></div>
        </div>

        <div class="form-group">
          <label for="volume">Dung tích</label>
          <select class="form-control" id="volume" name="volume" th:field="*{volume}">
            <!-- <option th:value="">Chọn dung tích</option> -->
            <option th:value="1">50ml</option>
            <option th:value="2">100ml</option>
            <option th:value="3">150ml</option>
            <option th:value="4">200ml</option>
            <option th:value="5">250ml</option>
          </select>
        </div>

        <div class="form-group">
          <label for="images">Link ảnh</label>
          <div id="imageLinks">
            <div
              th:each="image, iterStat : *{images}"
              class="form-group d-flex"
            >
              <input
                type="text"
                class="form-control"
                th:id="${'images' + iterStat.index}"
                th:name="${'images[' + iterStat.index + ']'}"
                placeholder="Nhập link ảnh"
                th:field="${image}"
              />
              <button
                type="button"
                class="btn btn-danger btn-sm remove-image-link"
              >
                Xóa
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="brand">Thương hiệu</label>
          <select
            class="form-control"
            id="brand"
            name="brand"
            th:field="*{brand}"
          >
            <option
              th:each="brand : ${brands}"
              th:value="${brand.id}"
              th:text="${brand.name}"
            ></option>
          </select>
        </div>

        <div class="form-group">
          <label for="origin">Xuất xứ</label>
          <input
            type="text"
            class="form-control"
            id="origin"
            name="origin"
            placeholder="Nhập xuất xứ"
            th:field="*{origin}"
          />
        </div>

        <div class="form-group">
          <label for="skinType">Loại da</label>
          <select
            class="form-control"
            id="skinType"
            name="skinType"
            th:field="*{skinType}"
          >
            <option value="">Chọn loại da</option>
            <option value="1">Da khô</option>
            <option value="2">Da dầu</option>
            <option value="3">Da hỗn hợp</option>
            <option value="4">Da nhạy cảm</option>
          </select>
        </div>

        <div class="form-group">
          <label for="topNotes">Mùi hương</label>
          <input
            type="text"
            class="form-control"
            id="topNotes"
            name="topNotes"
            placeholder="Nhập mùi hương đầu"
            th:field="*{topNotes}"
          />
        </div>

        <div class="form-group">
          <label for="middleNotes">Mùi hương giữa</label>
          <input
            type="text"
            class="form-control"
            id="middleNotes"
            name="middleNotes"
            placeholder="Nhập mùi hương giữa"
            th:field="*{middleNotes}"
          />
        </div>

        <div class="form-group">
          <label for="baseNotes">Mùi hương cuối</label>
          <input
            type="text"
            class="form-control"
            id="baseNotes"
            name="baseNotes"
            placeholder="Nhập mùi hương cuối"
            th:field="*{baseNotes}"
          />
        </div>

        <div class="form-group">
          <label for="howToUse">Hướng dẫn sử dụng</label>
          <input
            type="text"
            class="form-control"
            id="howToUse"
            name="howToUse"
            th:field="*{howToUse}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
      </form>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let imageLinkIndex = 1;
      document
        .getElementById("addImageLink")
        .addEventListener("click", function () {
          const newInputGroup = document.createElement("div");
          newInputGroup.classList.add("form-group", "image-input-group");
          newInputGroup.innerHTML = `
             <div class="form-group d-flex">
              <input
                type="text"
                class="form-control"
                id="images0"
                name="images"
                placeholder="Nhập link ảnh"
              />
              <button type="button" class="btn btn-danger btn-sm remove-image-link">Xóa</button>
            </div>
        `;
          document.getElementById("imageLinks").appendChild(newInputGroup);
          updateRemoveButtons();
          imageLinkIndex++;
        });

      document
        .getElementById("imageLinks")
        .addEventListener("click", function (e) {
          if (e.target.classList.contains("remove-image-link")) {
            e.target.parentElement.remove();
            updateRemoveButtons();
          }
        });

      function updateRemoveButtons() {
        const removeButtons = document.querySelectorAll(".remove-image-link");
        if (removeButtons.length === 1) {
          removeButtons[0].disabled = true;
        } else {
          removeButtons.forEach((button) => {
            button.style.display = "inline-block";
          });
        }
      }
    });
    const price = document.getElementById("price");
    const priceSuggest = document.getElementById("priceSuggest");

    price.addEventListener("input", () => {
      const value = price.value;
      const priceArr = [10, 100, 1000];
      priceSuggest.innerHTML = "";
      priceSuggest.classList.add("mt-2");
      priceArr.forEach((item) => {
        const div = document.createElement("div");
        div.innerHTML = new Intl.NumberFormat("vi-VN", {
          style: "currency",
          currency: "VND",
        }).format(value * item);
        div.addEventListener("click", () => {
          price.value = value * item;
          priceSuggest.innerHTML = "";
        });
        priceSuggest.appendChild(div);
      });
    });
  </script>
</html>
