<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý</title>

    <link
      rel="stylesheet"
      th:href="@{/assetsUser/lib/bootstrap-4.5.3-dist/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/assetsUser/lib/fontawesome-free-6.3.0-web/css/all.css}"
    />
    <link rel="stylesheet" th:href="@{/assetsUser/css/header.css}" />
    <link rel="stylesheet" th:href="@{/assetsUser/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/assetsUser/css/main.css}" />
    <link rel="stylesheet" th:href="@{/assetsAdmin/css/sidebar.css}" />

    <style>
      html,
      body {
        max-width: 100%;
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
    <header th:replace="/admin/fragments/header :: header"></header>
    <div th:replace="/admin/fragments/sidebar :: sidebar"></div>

    <script src="/utilities/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
