<!-- <header class="header" id="header" th:fragment="header">     -->
<header class="container-fluid bg-light header-web">
  <div class="row header align-items-center mx-0">
    <!-- Ô search -->
    <div class="col-5 d-flex justify-content-center">
      <div class="header_group_search">
        <svg class="header_search_icon" aria-hidden="true" viewBox="0 0 24 24">
          <g>
            <path
              d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
            ></path>
          </g>
        </svg>
        <input placeholder="Search" type="search" class="header_search_input" />
      </div>
    </div>
    <!-- Logo -->
    <div class="col-2 d-flex justify-content-center align-items-center">
      <a
        href="/index.html"
        class="d-flex align-items-center"
        style="height: 100%"
      >
      <img src="/assetsUser/img/logo.png" alt="logo" class="logo" />
      </a>
    </div>
    <!-- Đăng nhập + Đăng ký + Giỏ hàng -->
    <div class="col-5 text-center">
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p style="margin-bottom: 5px">Xin Chào Quý Khách</p>
          <a th:href="@{/login}">Đăng nhập</a>
          <small style="margin-left: 5px; margin-right: 5px">hoặc</small>
          <a th:href="@{/register}">Đăng ký</a>
        </div>
        <div>
          <a href="">
            <i
              class="fa-regular fa-heart"
              style="font-size: 30px; margin-left: 5px"
            ></i>
          </a>
        </div>
        <div>
          <a href="">
            <i
              class="fa-solid fa-cart-plus"
              style="font-size: 28px; margin-left: 5px"
            ></i>
          </a>
          <div class="subcart">
            <!-- Nơi hiển thị thông tin giỏ hàng khi có sản phẩm -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row header_nav flex justify-content-center">
    <ul class="nav">
      <li class="header-nav-item mx-3">
        <a class="nav-link active" href="/">TRANG CHỦ</a>
      </li>
      <li class="header-nav-item mx-3">
        <a class="nav-link" href="#">SẢN PHẨM</a>
      </li>
      <li class="header-nav-item mx-3">
        <a class="nav-link" href="#">THƯƠNG HIỆU</a>
      </li>
      <li class="header-nav-item mx-3">
        <a class="nav-link" href="#">TIN TỨC</a>
      </li>
      <li class="header-nav-item mx-3">
        <a class="nav-link" href="/admin/product/add">QUẢN LÝ</a>
      </li>
    </ul>
  </div>
</header>
